<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/css/nav_styles.css" rel="stylesheet" type="text/css">
    <link href="/css/edit.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!--Creating the navigation Bar -->
    <nav class="nav nav_top">
        <div class="logo">
          <img src="/images/ongc_logo.jpeg" width="70px" alt="logo">
        </div>
    
        <div class="navbar">
          <p>User Management System</p>
          <a href="/user_index">>Back</a>
        </div>
      </nav>
      <br>

    <div class="container">
        <div class="header">
            <h2>
                <%= title %>
            </h2>
        </div>
        
        <div class="form">
            <form action="/update" method="post">
                <input type="hidden" value="<%= user.id %>" name="id">
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" class="form-control" id="email" placeholder="First Name"
                        value="<%= user.first_name %>" name="fname" required>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input type="text" class="form-control" id="email" placeholder="Last Name" value="<%= user.last_name %>"
                        name="lname">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="abc@email.com"
                        value="<%= user.email %>" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Mobile No:</label>
                    <input type="tel" class="form-control" id="pwd" placeholder="0000000000" value="<%= user.mobile %>"
                        name="phone" required>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control" id="email" cols="15" rows="3" value="<%= user.address %>"
                        placeholder="Enter Address" name="address"></textarea>
                </div>
                <div class="form-group">
                    <label for="pin">Pin Code:</label>
                    <input type="number" class="form-control" id="pwd" value="<%= user.pin %>" placeholder="000000"
                        name="pin">
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" class="form-control" id="email" value="<%= user.state %>" placeholder="Enter State"
                        name="state">
                </div>
                <div class="form-group">
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" id="email" value="<%= user.country %>"
                        placeholder="Enter Country" name="country">
                </div>
                <a href="/update"><button type="submit" class="btn btn-primary">Submit</button></a>
            </form>
        </div>
        
    </div>

</body>

</html>