<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="/css/nav_styles.css" rel="stylesheet" type="text/css">
  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>


<body>

  <!--Creating the navigation Bar -->
  <nav class="nav nav_top">
    <div class="logo">
      <a href="/"><img src="/images/ongc_logo.jpeg" width="70px" alt="logo"></a>
    </div>

    <div class="navbar">
      <p>YOG "Way of Life"</p>

    </div>
  </nav>
  <br>

  <div class="container">
    <div class="header">
      <h2>
        <%= title %>
      </h2>
      <a href="/add" class="btn btn-sm btn-primary">Add User</a><br /><br />  
    </div>

    <div class="table">
      <table class="table table-light table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile No.</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user){ %>
            <tr>
              <td style="font-weight: 700;">
                <%= user.id %>
              </td>
              <td>
                <%= user.first_name %>
              </td>
              <td>
                <%= user.last_name %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= user.mobile %>
              </td>
              <td class="action">
                <a href="view/<%= user.id %>" class="btn btn-sm btn-primary">View</a>
                <a href="edit/<%= user.id %>" class="btn btn-sm btn-primary">Edit</a>
                <a href="delete/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
    
  </div>

</body>

</html>